.course-status>div>button>span>svg {
    fill: var(--color-teal-800) !important;
}

.form-message {
    color: var(--color-red-700) !important;
    font-family: var(--font-YekanBakh-SemiBold) !important;
}
/*  *Custom Scrollbar */

.panel-content::-webkit-scrollbar,
.sidebar-content::-webkit-scrollbar {
    width: 10px;
    /* overflow: hidden; */
}

/* Track */
.panel-content::-webkit-scrollbar-track,
.sidebar-content::-webkit-scrollbar-track {
    background: var(--color-zinc-900);
    border-radius: 20px;
}

/* Handle */
.panel-content::-webkit-scrollbar-thumb,
.sidebar-content::-webkit-scrollbar-thumb {
    background: var(--color-zinc-950);
    border-radius: 20px;
}


/* Handle on hover */
.panel-content::-webkit-scrollbar-thumb:hover,
.sidebar-content::-webkit-scrollbar-thumb:hover {
    background: rgba(9, 9, 11, 0.5);
}

.content-wrapper {
    background-color: var(--color-zinc-900);
    border-radius: var(--radius-2xl);
    /* border: 2px solid var(--color-teal-900); */
    /* box-shadow: 0 0 20px var(--color-zinc-900); */
    /* box-shadow: 0 0 20px var(--color-teal-900); */
}