.swiper-pagination-bullet-active {
    background-color: rgb(var(--color-primary));
}

.swiper-3d .swiper-slide-shadow {
    background: none !important;
}

.swiper.swiper-cards {
    overflow: hidden !important;
}

.dashboard__item--active {
    background-color: rgb(var(--color-primary)) !important;
    color: white !important;
}

.search-results::-webkit-scrollbar {
    width: 8px;
    /* overflow: hidden; */
}

/* Track */
.search-results::-webkit-scrollbar-track {
    background: rgb(var(--color-secondary));
    border-radius: 20px;
}

/* Handle */
.search-results::-webkit-scrollbar-thumb {
    background: var(--color-zinc-800);
    border-radius: 20px;
}


/* Handle on hover */
.search-results::-webkit-scrollbar-thumb:hover {
    background: rgba(9, 9, 11, 0.5);
}


@media screen and (min-width: 786px) {
    .swiper.swiper-cards {
        overflow: visible !important;
    }
}